<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      {% if site.logo %}
        <img src="{{ site.logo | relative_url }}" alt="{{ site.title }}" />
      {% endif %}
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% if page.sidebar.nav %}
      {% assign navigation = site.data.navigation[page.sidebar.nav] %}

      {% if page.sidebar.title %}<h3 class="">{{ page.sidebar.title }}</h3>{% endif %}
        {% for nav in navigation %}
            {% if nav.url %}
              <a class="sidebar-nav-item" href="{{ nav_url | relative_url }}">{{ nav.title }}</a>
            {% else %}
              <span class="sidebar-nav-item sidebar-nav-title">{{ nav.title | upcase }}</span>
            {% endif %}

            {% if nav.children != null %}
              {% for child in nav.children %}
                <a href="{{ child.url | relative_url }}" class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">{{ child.title }}</a>
              {% endfor %}
            {% endif %}
        {% endfor %}

      {% else %}
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a> -->

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | relative_url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% endif %}
    </nav>

    <!-- <p class="footer">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
  </div>
  <div class="container sidebar-sticky">
  {% if site.github.is_project_page %}
    <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
  {% endif %}
    <div class="footer">&pi; {{ site.time | date: '%Y' }}. <a href="{{ site.author.url }}">{{ site.author.name }}</a></div>
  </div>
</div>
