@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

html, body {
  font: 100 18px/1.5 'Source Sans Pro',Open Sans,Roboto,'San Francisco',Helvetica,Arial,sans-serif;
}
.sidebar h1 a {
  font-size: 29px;
}
.theme-base-314 .sidebar {
  background-color: #273b54;
}
.theme-base-314 .content a,
.theme-base-314 .related-posts li a:hover {
  color: #273b54;
}
.content {
  max-width: 68rem;
}
.sidebar-about h1 {
  font-size: 2.5rem;
}
.footer {
  font-size: 16px;
}
.sidebar-nav-title {
  padding-top: 8px;
  font-weight: bold;
}
.sidebar img {
  display: inline;
}
.page {
  font-size: 20px;
}
code, pre {
  font-family: monospace;
  font-size: 0.95rem;
}
figure {
  margin-inline-start: 0;
  margin-inline-end: 0;
}
