@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

html, body {
  font: 100 18px/1.5 'Source Sans Pro',Open Sans,Roboto,'San Francisco',Helvetica,Arial,sans-serif;
}
.sidebar h1 a {
  font-size: 29px;
}
/* Google Dark base0C */
.theme-base-314 .sidebar {
  background-color: #3971ED;
}
.theme-base-314 .content a,
.theme-base-314 .related-posts li a:hover {
  color: #3971ED;
}
.sidebar-about h1 {
  font-size: 2.5rem;
}
.footer {
  font-size: 16px;
}
.sidebar-nav-title {
  padding-top: 8px;
  font-weight: bold;
}
