<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  {% include head.html %}
</head>
<body class="wy-body-for-nav">
  <div class="wy-grid-for-nav">
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          <a href="#">
            <img src="{{ '/assets/img/logo.jpg' | relative_url }}" class="logo" alt="Logo"/>
          </a>
          <!-- <div class="version">
            0.1.0
          </div> -->
          <!-- <div role="search">
            <form id="rtd-search-form" class="wy-form" action="search.html" method="get">
              <input type="text" name="q" placeholder="Search docs" />
              <input type="hidden" name="check_keywords" value="yes" />
              <input type="hidden" name="area" value="default" />
            </form>
          </div> -->
        </div>
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          {% include sidebar.html %}
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">
      <nav class="wy-nav-top" aria-label="top navigation">
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="#">libmicrohttpd-http2</a>
      </nav>

      <div class="wy-nav-content">
        <div class="rst-content">
          <!-- <div role="navigation" aria-label="breadcrumbs navigation">
            <ul class="wy-breadcrumbs">
                <li><a href="#">Docs</a> &raquo;</li>
                <li>Welcome to libmicrohttpd-http2</li>
            </ul>
            <hr/>
          </div> -->

          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
            <div itemprop="articleBody">
              <div class="section" id="welcome-to-libmicrohttpd-http2">
                <h1>{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
                {{ content }}
              </div>
            </div>
          </div>
          <footer>
          {% include 'footer.html' %}
          </footer>
        </div>
      </div>
    </section>
  </div>

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'./',
            VERSION:'0.66.0',
            LANGUAGE:'None',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true,
            SOURCELINK_SUFFIX: '.txt'
        };
    </script>
      <script type="text/javascript" src="{{ '/assets/js/jquery.js' | relative_url }}"></script>
      <script type="text/javascript" src="{{ '/assets/js/underscore.js' | relative_url }}"></script>
      <script type="text/javascript" src="{{ '/assets/js/doctools.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/theme.js' | relative_url }}"></script>
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enableSticky();
      });
  </script>
  <script type="text/javascript" src="{{ '/assets/js/add_badges.js' | relative_url }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.3.0/highlightjs-line-numbers.min.js"></script>
  <script>
    document.querySelectorAll('div.hljs > pre').forEach(function(block) {
      hljs.highlightBlock(block);
      hljs.lineNumbersBlock(block);
    });
  </script>
</body>
</html>
